<div class="user-menu">
    <a href="#">
        <img 
            src="src/app/header/img/user.png" 
            height="15" 
            width="15">
        Minha Conta 
    </a> |
    <a href="#">
        <img 
            src="src/app/header/img/books.png"
            height="15" 
            width="15"> 
        Lista de Desejos 
    </a> |
    <a href="cart.html">
        <img 
            src="src/app/header/img/market-cart.png" 
            height="15" 
            width="15"> 
        Meu Carrinho
     </a> |
    <a href="checkout.html">
        <img 
            src="src/app/header/img/checkmark.png" 
            height="15" 
            width="15">
        Cadastro 
    </a> |
    <a href="#">
        <img 
            src="src/app/header/img/door.png" 
            height="15" 
            width="15"> 
        Login
    </a>
</div>